.member {
    border: 1px solid var(--border);
    border-radius: var(--spacing);
    corner-shape: squircle;
    overflow: clip;
    width: var(--avatar-memberlist-width);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);

    .avatar-memberlist {
        border-radius: var(--spacing);
        corner-shape: squircle squircle square square;
        mask-image: linear-gradient(to bottom, black, transparent);

        img {
            height: var(--avatar-memberlist-height);
            width: var(--avatar-memberlist-width);
        }
    }

    .username {
        width: 95%;
        margin: 0 auto;
        font: var(--f-l) var(--f-title-deco);
        line-height: 1;
        margin-top: -50%;
    }

    .data {
        width: 95%;
        margin: 0 auto;
        padding: 0 var(--spacing);
        border-left: 1px solid var(--poster);


        li {
            display: flex;
            flex-direction: column;
            font: var(--f-s) var(--f-mono);
            text-transform: uppercase;

            span {}
        }
    }

    .contact {
        background: var(--mono-5);
        border-radius: var(--spacing-s);
        corner-shape: square square squircle squircle;
        display: flex;
        align-items: center;
        

        li {

            .button {
                svg {
                    height: 20px;
                    width: 20px;
                }
                    
            }
        }
    }
}
