.topiclist-title {
    background: var(--background-elevated-contrast);
    color: var(--text-contrast);
    border-radius: var(--spacing);
    corner-shape: squircle squircle square square;
    font: bold var(--f-xl) var(--f-title);
    text-transform: uppercase;
}

.topic {
    border: 1px solid var(--border);
    padding: var(--spacing-s);
    display: grid;
    grid-template-columns: 60px 1fr .25fr .5fr;
    grid-template-rows: repeat(3,max-content);
    grid-template-areas:
        "icon title author data"
        "icon description lastpost lastpost"
        "icon pagination lastpost lastpost";

    &:last-of-type,
    &:only-child {
        border-radius: var(--spacing);
        corner-shape: square square squircle squircle;
    }

    .icon {
        grid-area: icon;
    }
    
    .title {
        grid-area: title;
        font: bold var(--f-l) var(--f-title);
        font-stretch: 125%;
        text-transform: uppercase;
    }

    .description {
        grid-area: description;
        font: var(--f-s) var(--f-mono);
        text-transform: uppercase;
    }
    
    .pagination {
        grid-area: pagination;
    }
    
    .author {
        grid-area: author;
    }
    
    .data {
        grid-area: data;
        font: var(--f-s) var(--f-mono);
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .lastpost {
        grid-area: lastpost;
    }
}
